[Desktop Entry]
Name=PowerStats
GenericName=Power Usage Monitor
Comment=High-Fidelity Power Diagnostics and Analytics for Linux
Exec=powerstats
Icon=io.github.powerstats.PowerStats
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=battery;power;usage;monitor;diagnostics;energy;performance;
StartupNotify=true
StartupWMClass=powerstats
